{% load static %}
<footer class="bg-septimo text-center text-white">
    <div class="container p-4 pb-0">
        <section class="mb-4 social-icons">
            Aqui debeira haber algo...
        </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2026 Copyright
        <!--         <a class="text-white text-decoration-none" href="#">UCG</a>
 -->
    </div>
</footer>

<style>
    .social-icons img {
        opacity: 0.6;
        transition: opacity 0.4s ease, transform 0.4s ease;
        width: 64px;
        height: 64px;
        border: 0;
        text-decoration: none;
    }

    .social-icons img:hover {
        opacity: 1;
        transform: scale(1.15);
    }
</style>